#pagination-div{
    text-align: center;
}
#pagination-div2{
    text-align: center;
}
th{
    text-align: center;
}

#title{
    margin-top: 15px;
    margin-bottom: 11px;
    padding-left: 60px;
}
#writeBtn{
    background-color: black;
    border-color: black;
    color: white;
    border-style: outset;
    margin-top: -75px;
    margin-left: 281px;
}
#external-table{
    padding-right: 60px;
    padding-left: 60px;
}
#spot{
    text-align: center;
    font-style: italic;
}
#startDate{
    text-align: right;
    font-style: italic;
}
#sign{
    width: 10px;
}
#ing_arriveDate{
    font-style: italic;
    width: 225px;
}
#arriveDate{
    font-style: italic;
}
td a{
    color: #ce8483;
    font-style: italic;
}
.page-item.active .page-link {
    background-color: teal;
    border-color: teal;
}

.pagination>li>a{
    color: teal;
}

#noPlan{
    margin-top: 41px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 500px;
    vertical-align: middle;
    height: 330px;
    color: darkgray;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

#pastplan-table{
    padding-right: 80px;
    padding-left: 80px;
    border: 1px solid #dee2e6;
    padding-top: 37px;
    margin-top: 17px;
}
#pastplan-table tr{
    background-color: #fcf6f7;
}

#past_title{
    font-size: 21px;
    color: #5e5e5e;
}
.ing{
    background-color: #fff8f8;
}
.ingimg{
    width: 40px;
    height: 30px;
}

#ingTitle{
    font-weight: bold;
}
#top-plan{
    border: 1px solid #dee2e6;
    margin-top: 45px;
}