body{
    background-color: #434651;
}
#nobody{
    height: 50px;
}
#noone{
    vertical-align: middle;
    font-weight: 600;
}
.container {
    width: 490px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    margin: 0 auto;
}
img{
    margin-top: 10px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.myname {
    color: dimgray;
    display: inline;
}
.name {
    display: inline;
}
ul {
    list-style-type: none;
    color: currentColor;
    font-size: initial;
    font-style: italic;
    height: 65px;
    border-radius: 4px;
    margin-bottom: 0px;
    text-align: center;
    display: inline;
}
#hideuser {
    margin-left: -410px;
    background-color: darkseagreen;
    color: white;
    border: 2px #dee2e5;
    border-radius: 4px;
    border-style: outset;
}
#chat-content {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 530px;
    font-size: 17px;
    background-color: #C5DDEB;
    font-family: "맑은 고딕";
    resize: none;
    width: 425px;
    line-height: 30px;
}
#chat-message-input {
   height: 35px;
    margin-left: 20px;
    width: 80%;
    border: 2px dashed #dee2e5;
    border-radius: 2px;
    margin-top: 3px;
}
#btnSend {
    width: 50px;
    height: 35px;
    margin-left: 5px;
    background-color: #ffec42;
    border-color: #ffec42;
    border-radius: 4px;
}

.input-group {
    height: 50px;
    background-color: aliceblue;
    width: 487px;
    vertical-align: middle;
    margin-top: -5px;
}
.userList {
    text-align: center;
}
#refresh{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: darkseagreen;
    color: white;
    border: 2px #dee2e5;
    border-radius: 4px;
    border-style: outset;
    margin-left: 30px;
}
#btnJoin{
    height: inherit;
    background-color: #ffec42;
    border: 10px beige;
    border-style: outset;
    }
li.clearfix {
    background-color: aliceblue;
    width: 487px;
    height: 50px;
}
