<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.example.member.vo.UserVo" alias="UserVo" />

		<typeAlias type="com.example.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.example.board.vo.RecomVO" alias="recomVO"/>
		<typeAlias type="com.example.board.vo.ReportVO" alias="reportVO"/>
		<typeAlias type="com.example.board.vo.CommentVO" alias="commentVO"/>
		<typeAlias type="com.example.board.vo.BoardFileVO" alias="boardFileVO"/>

	</typeAliases>
</configuration>

