<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko"
      layout:decorate="~{layout/defaultLayout}" >
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{css/member/joinUserForm.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/member/joinUserForm.js}"></script>
</th:block>
    <section layout:fragment="content">

    </section>
</html>