<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/defaultLayout">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}">
</th:block>
<head>
</head>
<section layout:fragment="content">
    <div class="container">
        <div class="join_notice">
            <h1 class="join_title">마이페이지</h1>
            <div class="join_devide"></div>
            <p class="join_text">내 활동을 확인할 수 있습니다.</p>
        </div >
        <div>
        <img th:if="${#strings.isEmpty(user.photoSys)}" id="img"
             th:src="@{'/upload/default.png'}">
        <img th:unless="${#strings.isEmpty(user.photoSys)}" id="img1"
             th:src="@{'/upload/' + ${user.photoSys}}">
        </div>
        <div class="page_content">
            아이디 : <span id="userId" th:text="${user.userId}"></span>
        </div>
        <div class="page_content">
            닉네임 : <span id="userNick" th:text="${user.userNick}"></span>
        </div>
        <div class="page_content">
            가입일 : <span id="joinDate" th:text="${#strings.substring(user.joinDate,0,11)}"></span>
        </div>
        <div class="join_notice">
            <h2 class="join_title">활동내역</h2>
            <div class="join_devide"></div>
        </div >
        <div id="right_table">
            <table class="list_table">
                <thead class="table_head">
                <h3>최근 작성한 게시글</h3>
                <tr>
                    <td><a th:href="@{/member/myBoardList}"/> + 더보기</td>
                </tr>
                <tr>
                    <th>번호</th>
                    <th>게시글제목</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, num : ${board}">
                    <td th:text="${num.count}"></td>
                    <td th:if="${#strings.length(board.boardTitle) < 15}" class="list_title"><a
                            th:href="@{/detailBoard/{boardNo}(boardNo=${board.boardNo})}"
                            th:text="${board.boardTitle}"></a></td>
                    <td th:if="${#strings.length(board.boardTitle) >= 15}" class="list_title"><a
                            th:href="@{/detailBoard/{boardNo}(boardNo=${board.boardNo})}"
                            th:text="${board.boardTitle}"></a></td>
                    <td th:text="${#strings.substring(board.boardWdate,0,11)}"></td>
                    <td th:text="${board.boardCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a th:href="@{/member/modifyUserForm}">
                <button type="button" class="btn btn-light" >회원 정보 수정</button>
            </a>
        </div>
        <div>
            <a th:href="@{/member/exitUser}">
                <button type="button" class="btn btn-light" >회원 탈퇴</button>
            </a>
        </div>
    </div>
</section>
</html>