<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/board/boardList.js}"></script>
</th:block>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
</head>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">

                <select style="height: 30px;" name="keyfield" id="keyfield">
                    <option value="all">전체</option>
                    <option value="boardTitle">제목</option>
                    <option value="userNick">작성자</option>
                    <option value="boardContent">내용</option>
                </select>
                <input type="search" name="keyword" id="keyword" class="form-control" style="width: 300px; display: inline-block;">
                <button class="btn btn-primary" type="submit" id="searchBtn">
                    <i class="fas fa-search"></i>
                </button>
                <button sec:authorize = "hasAnyRole('ROLE_MEMBER', 'ROLE_ADMIN')" type="button" class="btn btn-primary" id="writeBtn">글쓰기 </button>
            </div>
        </div>
    </nav>

    <div id="paging">
        <div id="pagination-div">
            <div id="page-content"></div>
        </div>
    </div>


    <div id="html">

    </div>



</div>
</html>