@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
	cursor: default;
	text-align: center;
	font-family: 'DoHyeon', sans-serif;
	font-weight: 700; 
}



.unFoldSc{
	
	display: none;
}

.ftRight:hover{
	
	color: teal;
}

.ftRight{
	
	float: right;
	cursor: pointer;
}

.infoPlace{
	margin-top: 5%;
	font-size: 1.5em;
	background-color: rgb(242,242,242);
	
}

.catImg{
	height: 30em;
	display: inline;
	border-radius: 1%;
}

.noSearchdata{
	
	font-size: 1.5em;
}

.scNotinfo{
	
	border: 2px solid teal;
	border-radius: 1%;
}

.scBoxWrapper{
	
	margin-top: 3%;
}

.timeAndAw{
	
	margin-left: 5%;
	height: auto;
	
}


.time{
	font-size: 3em;
}

#infoDepLoName{
	
	width: 50%;
	text-align: left;
	float: left;
}

#infoArrLoName{
	
	width: 50%;
	text-align: right;
	float: left;
}

.scInfoEl{
	
	
	float: left;
	height: 50px;
	
}



.chargeBox{
	
	margin-top: 1%;
	margin-left: 10%;
	font-size: 3em;
	height: auto;
	color: teal;	
}

.won{
	
	font-size: 0.3em;
}

.trainTypeNoBox{
	
	
	margin-top: 2%;
	margin-left: 5%;
	width: 10%;
}

.trainType{
	font-weight: 700;
	font-size: 1em;
}

.trainNo{
	
	font-size: 1em;
}


.spanTimeBox{
	margin-top: 2%;
	margin-left: 5%;
	padding-top : 1%;
}

.scInfo{
	
	background-color: #F2F2F2;
	height:	8em;
	text-align: center;
	padding-top: 2%;
	margin-bottom: 3%;
	border-radius: 1%;
}

.scInfo:hover{

	box-shadow: 1px 1px 1px 1px black;
}
 



#mainwrapper{
	 width: 100%;
    height: 400px;
    position: relative;
    font-family: 'DoHyeon', sans-serif;
}

#searchBox{
	width: 80%;
	height: 300px;
	background-color: rgb(242,242,242);
	position: absolute;
	left: 110px;
	bottom: 10px;
	border-radius: 15px;
}

.tempWrapper{
	
	border-radius: 15px;
	background-color: rgb(233,233,233);
	width: 90%;
	height: 80%;
	position: absolute;
	left: 5%;
	top:20%;
	padding: 0;
}

#headWrapper{
	height: 10%;
	padding: 0;
}

.searchBoxHead{
	font-weight: 900;
	height: 100%;
	cursor: pointer;
}

.searchBoxHead:hover{
	box-shadow: 2px 2px 2px 2px gray;
}

#headTrain{
	border-top-left-radius: 15px;
	background-color: rgb(242,242,242);
	
}

#headBus{
	border-top-right-radius: 15px;
	background-color:  teal;
	
}

#selWrapper{
	position: absolute;
	width: 100%;
	height: 13%;
}

.tripType:hover{
	box-shadow: 2px 2px 2px 2px gray;
}

.selTextdiv{
	font-weight: 700;
	padding-top: 2%;
	display: inline-block;
}

#selOneway{
	background-color: rgb(233,233,233);
	height: 100%;
	border-top-left-radius: 15px;
	padding: 0;
	cursor: pointer;
	
}

#selTurn{
	background-color: teal;
	height: 100%;
	border-top-right-radius: 15px;
	cursor: pointer;
}

#bodyWrapper{
	
	left: 5%;
	top: 20%;
	width: 99%;
	position: absolute;
	height: 40%;
	
}

.searchBody{
	
	 float: left;
     width:30%;
     box-sizing: border-box;
     left: 1px;
     height: 100%;
     color: white;
     border: 3px solid rgb(233,233,233);
     background-color: teal;
	
}

.searchBody:hover{
	
	color: #ff7f7f;
	cursor: pointer;
}

.searchBodyDate{
	
	 float: left;
     width:18%;
     box-sizing: border-box;
     left: 1px;
     height: 100%;
     color: white;
     border: 3px solid rgb(233,233,233);
     background-color: teal;
     
}

.searchBodyDate:hover{
	
	color: #ff7f7f;
	cursor: pointer;
}

.datePikcer{
	margin-top: 40%;
	right: 65%;
	position: absolute;
	padding: 0;
	border: 0;
	width: 0;
	height: 0;
}

#btnSearch{
	height : 15%;
	z-index: 0;
	position: absolute;
	top: 90%;
	right: 25%;
}

.btn-primary {
    background-color: RGB(1,121,122);
    border-color: RGB(1,121,122);
    font-weight: bolder;
    width: 50%;
}


.bodyTextdiv{
	font-size: 30px;
	font-weight: 700;
	padding-top: 15%;
	display: inline-block;
	background-color: tear;
}

.bodyTextDatediv{
	font-size: 30px;
	font-weight: 700;
	padding-top: 15%;
	display: inline-block;
	background-color: tear;
}

#dateArr{
	
	display: none;
}

/*
	datapicker zindex setting
*/
.hasDatepicker {
    position: relative;
    z-index: 9;
}

/*
	팝오버 설정
*/

.popover-content{
	font-size: 10px;
	color: black;
}


#stListBox{
	
	position: absolute;
	top: 100%;
	width: 100%;
	background-color: white;
	z-index: 99;
	border:  3px solid #006480;
	height: 45.5em;
	display: none;
}

#cityNameBox{
	
	float: left; 
	width: 30%; 
	background-color: teal;
	color: white;
	height: 45.3em;
	font-size: 1em;
}

.cityName{
	font-weight: 700;
	font-size: 150%;
	list-style: none;
	padding: 0;		
}

#showAllSt{
	
	cursor: pointer;
	margin: 2% 0 0 0
}

#showAllSt:hover{
	
	color: #ff7f7f;
}

.showSt{
	
	cursor: pointer;
	margin: 2% 0 0 0;
}

.showSt:hover{

	color: #ff7f7f;
}

.stNameWrapper{
	
	float: left; 
	width: 70%; 
	background-color: white; 
	height: 45.2em; 
	overflow: auto;
}

.stNameWrapper::-webkit-scrollbar{
	
	width: 0px;
}


.ulSt{
	
	list-style: none;
	padding: 0;
	height: 30em;
	height: auto;
}

.stNameIn{
	
	margin: 2%;
	float: left;
	font-size: 1.5em;
	cursor: pointer;
	
}

.stNameIn:hover{
	
	color: #ff7f7f;
}


#showCityBox{
	width: 20%;
	float: left;
	height: 28.5em;
	margin-bottom: 0;
	padding: 0;
	
}

.showCity{
	cursor: pointer;
	list-style: none;
	background-color: teal;
	color : white;
	margin: 1% 1% 1% 1%;
	font-size: 2em;
	width: auto;
	
}

.showCity:hover{
	
	color: #ff7f7f;
}

#temptmep{
	overflow: auto;
	float: left;
	height: 28.5em;
	width: 80%;
	padding: 1% 1% 1% 1%;
	background-color: white;
	
}

#temptmep::-webkit-scrollbar{
	
	width: 0px;
}

.showAllTml{
	
	list-style: none;
}

.ulTml{
	list-style: none;
}


.liTml{
	
	margin: 1% 1% 1% 1%;
	float: left;
	font-size: 1.5em;
	cursor: pointer;
}

.liTml:hover{
	
	color: #ff7f7f;
}


#TmlList{
	font-family: 'DoHyeon', sans-serif;
	font-weight: 700;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 33em;
	z-index: 99;
	border:  3px solid teal;
	background-color: white;
	border-radius: 1%;
	display: none;
}


