@charset "UTF-8";

.footer{
	width: 100%;
	bottom: 0px;
	position: absolute;

}

.footer_title {
	margin: 0 2em;
	font-size: 30px;
}

.footer_text {
	margin: 0;
	font-size: 14px;
}

.footer_emogi {
	margin: 0 2em;
}

.footer_icon {
	color: #b1b1b1;
	font-size: 30px;
	cursor: pointer;
}
.footer{
	align-content: center;
}
#whole{
	margin-top: 60px;
	margin-left: 40%;
}