/* 헤더 기본 설정 */
#headerContainer {
    height: 7em;
    position: relative;
    margin-top:1em;
}
/* 바 디자인 */
#bar {
    width: 97.4%;
    height: 20px;
    background-color: teal;
    position:absolute;
    border-color: unset;
    bottom: 0px;
    line-height: 7em;
}
/* 헤더 좌측 로고*/
#logo{
    width: 100px;
    height: 60px;
    float:left;
    margin-left: 2em;
}

/* 헤더 우측 로그인, 회원 정보 부분 */
.loginAndInfo {
    float: right;
    width: auto;
    margin-right: 2em;

}
/*로그인 버튼 */
#loginBtn{
    margin-top: 20px;
    background-color: teal;
    border-color: teal;
    font-weight: bolder;
    color: white;
    margin-left: 3em;
}
/* 로그인 버튼 마우스 오버 */
#loginBtn:hover {
    background-color: #27B8B9;
    border-color: #27B8B9;
    color: white;
}
/*로그아웃 버튼 */
#logoutBtn {
    font-weight: bolder;
    border-color: teal;
}
/* 로그아웃 버튼 마우스 오버시*/
#logoutBtn:hover {
    color: white;
    background-color: #ff7f7f;
    border-color: #ff7f7f;
}
/* 닉네임, 마이페이지 버튼 */
#myPageBtn {
    background-color: RGB(242,242,242);
    font-weight: bolder;
    border-color: RGB(242,242,242);
}
/* 닉네임, 마이페이지 버튼에 마우스 오버시 */
#myPageBtn:hover {
    color: white;
    background-color: #27B8B9 ;
    border-color: #27B8B9;
}
/* 마이페이지는 평상시 안보이도록 */
#showMyPage {
    display: none
}
/* 닉네임은 마우스 오버시 안보이도록 */
#myPageBtn:hover #showNick{
    display: none;
}
/* 마이페이지 이동이 마우스 오버시 보이도록*/
#myPageBtn:hover #showMyPage {
    display: block;
}

/*로그인 성공 시 기본 박스 */
.showInfo {
    background-color:RGB(242,242,242);
    border-color: teal;
    border-radius: 13px;
    height: 4.5em;
    vertical-align: middle;
    padding: 0.5em 1em 0.5em 1em;
}

/* 헤더 프로필 사진 */
.showPho {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px teal solid;
    margin-right: 1em;
}

/*닉네임 디자인*/
#showNick{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ReRoad{
    font-size: 30px;
}
#road{
    float:left;
}

/*쪽지 보내기 버튼 디자인 */
#myPaperBtn {
    font-weight: bolder;
    border-color: teal;

}
#myPaperBtn:hover {
    background-color: #d58512;
    border-color: #d58512;
    color: white;
}

/* 채팅 버튼 디자인 */
#chatBtn {
    font-weight: bolder;
    border-color: teal;

}
#chatBtn:hover {
    background-color: darkseagreen;
    border-color: darkseagreen;
    color: white;
}